$outline-border-width: 1px;
$outline-border-color: white;
$sec-outline-border-color: white;
$outline-button-padding: 16px 28px;
$outline-text-color: white;
$sec-outline-text-color: white;
$outline-transition-time: 1.5s;
$outline-fade: 0.35s;
$outline-active-scale: 1.05;

.navMenu .navbar_link {
    color: white !important;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: border-color 0.35s ease-in-out;
    z-index: 1;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        box-sizing: content-box;
        z-index: -1;
        transition: transform 0.25s ease-in-out;
        padding-left: $outline-border-width;
    }

    &:before {
        top: -$outline-border-width;
        left: -$outline-border-width;
        border-top: $outline-border-width transparent solid;
        border-right: $outline-border-width transparent solid;
    }

    &:after {
        bottom: -$outline-border-width;
        right: -$outline-border-width;
        border-bottom: $outline-border-width transparent solid;
        border-left: $outline-border-width transparent solid;
    }

    &:hover {
        color: $sec-outline-text-color;
        transition: color $outline-fade ease-in-out, border-color $outline-fade ease-in-out;
        border-color: $outline-border-color;
        animation: outline-reset $outline-fade 1 forwards;

        &:before {
            animation: top-right-border $outline-transition-time/2 1 $outline-fade forwards;
        }

        &:after {
            animation: bottom-left-border $outline-transition-time/2 1 ($outline-transition-time/2)+$outline-fade forwards;
        }
    }

    &--tandem:hover {
        &:after {
            animation: bottom-left-border $outline-transition-time/2 1 $outline-fade forwards;
        }
    }

    &:active {
        &:before,
        &:after {
            transform: scale($outline-active-scale);
        }
    }
}


@keyframes outline-reset {
    0% {
        border-color: $outline-border-color;
    }
    100% {
        border-color: transparent;
    }
}


@keyframes top-right-border {
    0% {
        border-color: $sec-outline-border-color;
        width: 0px;
        height: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    100% {
        border-color: $sec-outline-border-color;
        width: 100%;
        height: 100%;
    }
}

@keyframes bottom-left-border {
    0% {
        border-color: $sec-outline-border-color;
        width: 0px;
        height: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    100% {
        border-color: $sec-outline-border-color;
        width: 100%;
        height: 100%;
    }
}
